.background {
  background-image: url(background.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  filter: brightness(130%);
  filter: contrast(2.3);
}

.search-form{
  margin-top: 300px;
}

.form-control{
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: white;

}

