.background {
  background-image: url(background.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 50px;
  
}

.search-form{
  margin-top: 300px;
}

.form-control, .form-control:focus, .form-control:active{
  box-shadow: none;
  border: none;
  font-size: 2em;
  color: white;

}

.header{
  border: 10px;
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
  background-color: #00a3aa;
}